# Python
data/
content/file_surfer/
content/metagpt-data-interpreter/
content/web_surfer/
content/acquisitions/
content/docs/
workspace/
metagpt/
autogen/
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*venv/
.env
graphics/
output*/
MetaGPT/
metagpt/
utils/

# Logs
logs/
*.log
app/logs/*

# Docker
.docker/

autogen-openaiext-client/

tmp_code_*
alembic/

downloads/
debug/
keys/

*.mp4
*.mp3
*.png
*.out
output_run_1/
path/
key.txt
*successful_code_executions.txt
results*/
!content/video_surfer/audio/temp_speech.mp3
*.tar.gz